@font-face {
    font-family: norse;
    src: url(../img/Norse-Bold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #596D48;
}

body {
    font-family: sans-serif;
}

main {
    height: 100vh;
        
    display: grid;
    grid-template-columns: 30% 70%;
}

aside {
    color: #f8f9fa;
    grid-row: 1 / 4;
    background-image: url(../img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    
    width: 100%;
    margin-top: 150px;
}

.logo {
    width: 47.5px;
    height: 63.5px;
}

.lg-text {
    font-size: 48px;
    font-family: norse, sans-serif;

}